{% extends 'AdminHeader.html' %}
{% block content %}

<!--
<br>
<li><a href="../registernurse" class="section-btn">registernurse</a></li>
<li><a href="../viewAllNewRequest" class="section-btn">viewAllNewRequest</a></li>
<li><a href="../viewnurseApprove" class="section-btn">viewnurseApprove</a></li>
<li><a href="../patientenqueiry" class="section-btn">patientenqueiry</a></li>
<li><a href="../nursequery" class="section-btn">nursequery</a></li>
<li><a href="../viewComplient" class="section-btn">viewComplient</a></li>
<li><a href="../selectpatient" class="section-btn">Assign</a></li>-->
{% endblock %}