{% include 'LoginHeader.html' %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
  <style>

    th,td{
    padding:3px;
    }
  </style>
</head>

<body>
<form id="form1" name="form1" method="post" action="/login1">
         {% csrf_token %}

  <table align="center" width="200" border="0">
    <tr>
      <td colspan="2"><div align="center">
        <h2>LOGIN</h2>
      </div></td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td>Username</td>
      <td><label for="uname"></label>
      <input type="text" name="un" id="uname" required /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><label for="passwd"></label>
      <input type="password" name="pass" id="passwd" required/></td>
    </tr>
    <tr>
      <td></td>
      <td ><div align="left"> <input name="login" type="submit" id="login" value="Login" class="section-btn" />

      </div></td>
    </tr>
  </table>
</form>

</body>
</html>
